<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="container-fluid bg-secondary text-secondary pt-5">
        <div class="container">
            <div class="row">
                <!-- Contacto -->
                <div class="col-lg-4 col-md-6 mb-5">
                    <h5 class="text-dark text-uppercase mb-4">Contacto</h5>
                    <p class="text-dark"><strong>Sistema De Agenda Financiera S.A. de C.V.</strong></p>
                    <p class="text-dark"><i class="fa fa-map-marker-alt text-dark mr-2"></i>Av. Central Oriente #123, Tuxtla Gutiérrez, Chiapas</p>
                    <p class="text-dark"><i class="fa fa-envelope text-dark mr-2"></i>soporte@agendafinanciera.com</p>
                    <p class="text-dark"><i class="fa fa-phone-alt text-dark mr-2"></i>(961) 555 12 34</p>
                </div>
                <!-- Enlaces Rápidos -->
                <div class="col-lg-4 col-md-6 mb-5">
                    <h5 class="text-dark text-uppercase mb-4">Enlaces Rápidos</h5>
                    <div class="d-flex flex-column">
                        <a th:href="@{/}" class="text-dark mb-2"><i class="fa fa-angle-right mr-2"></i>Inicio</a>
                        <a th:href="@{/public/cservicios}" class="text-dark mb-2"><i class="fa fa-angle-right mr-2"></i>Servicios</a>
                        <a th:href="@{/public/quienes-somos}" class="text-dark mb-2"><i class="fa fa-angle-right mr-2"></i>Quiénes Somos</a>
                        <a th:href="@{/public/contacto}" class="text-dark mb-2"><i class="fa fa-angle-right mr-2"></i>Contacto</a>
                    </div>
                </div>

                <!-- Redes sociales -->
                <div class="col-lg-4 col-md-12 mb-5">
                    <h5 class="text-dark text-uppercase mb-4">Síguenos</h5>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</html>