<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header class="sticky-top">
        <div class="container-fluid bg-warning">
            <div class="row px-xl-5 align-items-center">
                <!-- Logo -->
                <div class="col-lg-3 d-none d-lg-block">
                    <a th:href="@{/}" class="d-flex align-items-center py-3 text-decoration-none">
                        <img th:src="@{/img/logo.png}" alt="Logo" style="height: 80px;">
                        <h3 class="text-dark fw-bold ms-3 fs-4 fw-bold">DALFICC TECHNOLOGIES</h3>
                    </a>
                </div>

                <!-- Menú -->
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg navbar-warning bg-warning py-3 py-lg-0">
                        <div class="navbar-nav mx-auto">
                            <a th:href="@{/}" class="nav-item nav-link ms-2 fw-bold">Inicio</a>
                            <a th:href="@{/public/servicios}" class="nav-item nav-link ms-2 fw-bold">Servicios</a>
                            <a th:href="@{/public/quienes-somos}" class="nav-item nav-link ms-2 fw-bold">Quiénes Somos</a>
                            <a th:href="@{/public/contacto}" class="nav-item nav-link ms-2 fw-bold">Contacto</a>
                        </div>

                        <!-- Botón de Login -->
                        <div class="ms-auto" id="headerAuthContainer">
                            <a th:href="@{/public/iniciar-sesion}" class="text-light bg-dark rounded-pill px-3 py-2">
                                Iniciar Sesión
                            </a>
                        </div>
                    </nav>
                </div>

            </div>
        </div>
    </header>
</div>
</html>