<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::body}, 'Quienes-somos — Agenda Financiera')">

<body>

<main>
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="container text-center my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <img th:src="@{/img/control.jpg}" alt="Imagen 1" class="rounded-circle img-fluid shadow-sm" width="140" height="140">
                        <h2 class="text-success display-8 fw-bold">Control Total</h2>
                        <p>Mantén tus finanzas bajo control. Registra tus gastos y observa cómo mejora tu economía día a día.</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <img th:src="@{/img/tudinero.jpeg}" alt="Imagen 2" class="rounded-circle img-fluid shadow-sm" width="140" height="140">
                        <h2 class="text-success display-8 fw-bold">Tu Dinero Organizado</h2>
                        <p>Gestiona tus ingresos y gastos desde un solo lugar. Conoce exactamente a dónde va tu dinero y mejora tus hábitos financieros.</p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <img th:src="@{/img/inteligente.jpg}" alt="Imagen 3" class="rounded-circle img-fluid shadow-sm" width="140" height="140">
                        <h2 class="text-success display-8 fw-bold">Decisiones Inteligentes</h2>
                        <p>Visualiza tus ingresos y gastos con gráficos simples. Toma decisiones financieras con confianza.</p>
                    </div>
                </div>


            </div><!-- /.row -->
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">
                        <h2 class="text-success display-4 fw-bold">Mision</h2>
                    </h2>
                    <p class="lead">
                        Facilitar a las personas y organizaciones una herramienta confiable de gestión financiera, que optimice el control de ingresos y egresos, fomentando la toma de decisiones estratégicas y responsables.
                    </p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/img/mision.jpg}"
                         class="featurette-image img-fluid mx-auto"
                         alt="Descripción de la imagen">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">
                        <h2 class="text-success display-4 fw-bold">Vision</h2>
                    </h2>
                    <p class="lead">
                        Consolidarnos como la plataforma digital líder en el ámbito de las agendas financieras, reconocida por su innovación, precisión y valor en la planificación económica a nivel personal y empresarial.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img th:src="@{/img/vision.jpeg}"
                         class="featurette-image img-fluid mx-auto"
                         alt="Descripción de la imagen">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">
                        <h2 class="text-success display-4 fw-bold">Valores</h2>
                    </h2>
                    <p class="lead">
                        Sustentamos nuestro trabajo en la transparencia, la responsabilidad y la innovación tecnológica, garantizando un servicio orientado al crecimiento financiero sostenible de nuestros usuarios.
                    </p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/img/valores.png}"
                         class="featurette-image img-fluid mx-auto"
                         alt="Descripción de la imagen">
                </div>
            </div>
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">
                        <h2 class="text-success display-4 fw-bold">Nuestro Equipo</h2>
                    </h2>
                    <p class="lead">
                        Somos un grupo multidisciplinario de profesionales comprometidos en brindar soluciones digitales de alta calidad, enfocados en la eficiencia y la innovación aplicada al ámbito financiero
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img th:src="@{/img/vision.jpeg}"
                         class="featurette-image img-fluid mx-auto"
                         alt="Descripción de la imagen">
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>