<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::body}, 'Contacto – DALFICC')}">

<body>

<div class="container py-5">

    <h2 class="text-success display-4 fw-bold">Contáctanos</h2>

    <!-- Alertas -->
    <div class="row justify-content-center mb-3">
        <div class="col-lg-8">
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-7">
            <div class="bg-light p-4 rounded shadow">

                <form method="POST" action="/contact">

                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Asunto</label>
                        <input type="text" name="subject" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Mensaje</label>
                        <textarea name="message" rows="6" class="form-control" required></textarea>
                    </div>

                    <button class="btn btn-primary px-4">Enviar mensaje</button>

                </form>

                <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
                <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

            </div>
        </div>

        <div class="col-lg-5">
            <div class="bg-light p-3 rounded shadow">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3811.293488386068!2d-93.01820892506963!3d17.20454598365178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ed06cc929f9fc7%3A0x840c6e5ac8da8c6d!2sUniversidad%20Tecnol%C3%B3gica%20de%20la%20Selva%20%5BUnidad%20Ray%C3%B3n%5D!5e0!3m2!1ses-419!2smx!4v1759022502878!5m2!1ses-419!2smx"
                        width="100%" height="300" style="border:0;" allowfullscreen>
                </iframe>
            </div>
        </div>

    </div>

</div>

</body>
</html>
